<!DOCTYPE html>
<html style="background: white; overflow:hidden;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <link rel="stylesheet" type="text/css" href="../../src/style/theme.css" />
        <script type="text/javascript" src="../../src/layout-xml.js"></script>
        <script type="text/javascript" src="../../src/utils-views.js"></script>
        
        <script type="text/javascript" src="aplication.js"></script>
        <script type="text/javascript" src="page.js"></script>
        <title>Layouts</title>
    </head>
    <body style="min-width: 1250px; height: 950px;">
    </body>
</html>